body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00b4db, #0083b0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    animation: animacao 2s;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background: #218838;
}

@keyframes animacao{
    from{
        opacity: 0;
        translate: -100vh 0 0;
    }

    to{
        opacity: 1;
        translate: 0 0 0 ;
    }
}